<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="33833JavaScriptIstNichtJa.140074C428A1E" Publisher="CN=725327B1-9E52-4EEB-86A9-65BD728EA6C9" Version="4.1.0.1" />
  <mp:PhoneIdentity PhoneProductId="31d28f68-2d60-430d-b5f1-cb53c108a192" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ジャバボタン</DisplayName>
    <PublisherDisplayName>JavaScriptIstNichtJava</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="JavaButton2_WindowsPhone.App">
      <m3:VisualElements DisplayName="ジャバボタン" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="ジャバ音を発生させることができるほか、ライブタイルでジャバ格言集を表示します" ForegroundText="light" BackgroundColor="transparent">
        <m3:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\Badge.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="white" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTasks.JavaBoBgTasks">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>